

* {
    box-sizing: border-box;
}


html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}



body{
    background-color: white;
    color: #545454;
    font-family: sans-serif;
    overflow: hidden;
}


.sidebar {
    width: 80px;
    height: 100%;
    position: fixed;
    background-color: #F9F9F9;
    color: 	#545454;
    border-style: s;
    border-width: 1px;
    border-color:#C8C8C8; 
}

.top-sidebar{
    background-color: #edeef2;
}

.sidebar-menu{
    margin: 0 25px;
    margin-bottom: 65px;
    line-height: 80px;
}

.center-sidebar {
    margin: 12px 25px  
}


.content {
    width: 100%;
    height: calc(100% - 80px);
    background-color: white;
    color: #545454;
    overflow: auto;
}

.window {
background-color: white;
height: 100%;
margin-left: 80px;
}



.header {
    height: 80px;
    width: 100%;
    background-color: #7081A0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    color: 	#eee;
    border-style:ridge;
}

.center-header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 80px;
    margin: 0 30px;
    vertical-align: middle;   
}
.header-icons{
    line-height: 80px;
    vertical-align: middle;
    font-size: 30px;
}

.right{
    padding-right: 30px;
}


table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: white;
    color: #545454;
    text-align: left;
    font-size: 18px;
    width: 100%;
}

table td{
    padding: 15px 20px;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
    vertical-align: middle;
}

table th{
    padding: 20px;
    border-bottom: solid 1px #eee;   
    color: #999;
    font-weight: 600;
}


table tr{
    vertical-align: middle;
}

.type-cell {
    width: 60px;
    text-align: center;
    color: #888;
}

.action {
    text-align: right;
    padding: 15px 15px 15px 20px;
    vertical-align: middle; 
}

.action .material-icons{
    font-size: 30px;
}

.dropbtn{
    border: none;
    cursor: pointer;
}

.dropbtn:focus, .dropbtn:hover{
    color: #cc0000;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    min-width: 180px;
    background-color: whitesmoke;
    right: -14px;
    top: -14.2px;
    padding: 10px 10px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 11px 20px 11px 16px;
    text-decoration: none;
    display: block;
    float: left;
}

.show{
    display:block;
}

.professional-cell {
    width: auto;
}

.action .material-icons{
    font-size: 30px;
}

.patient-cell .material-icons{
    vertical-align: middle;
}

.professional-cell .material-icons{
    vertical-align: middle;
}

.wait-cell {
    font-family: monospace;
}

.gender-icons{
    height: 30px;
    width: 30px;
    border-style: solid;
    border-color: #BBB;
    border-width: 1.15px; 
    border-radius: 15px;
    vertical-align: middle;
}

.red-text{
    color: red;
}

.yellow-text{
    color: yellow;
}

th.type-cell{
    color: #999;
}
